@model IEnumerable<Babadzaki.Models.Token>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>Tokens: @ViewBag.Count</h2>

@ViewBag.Time
<p>
    <a asp-controller="Token" asp-action="Upsert">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonCollection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-controller="SeasonCollection" asp-action="Index" asp-route-id="@item.SeasonCollectionId">
                @Html.DisplayFor(modelItem => item.SeasonCollection.Name)
                </a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>

            <td>
                <a asp-action="Upsert" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id"> Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

