@model Babadzaki.Models.Token
@using Babadzaki_Utility

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Token</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonCollection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonCollection.Name)
        </dd>
        @foreach(var type in Model.TokensFilters)
        {
            <dt class = "col-sm-2">
                @Html.DisplayFor(modelItem => type.Filter.Name)
            </dt>
           <dd class = "col-sm-10">
                @Html.DisplayFor(modelItem => type.Value)
           </dd>
        }
    </dl>
</div>
<div class="col-4 ">
    @* Keep this empty *@
    @if (Model.Image != null)
    {
                        <img src ="@WebConstants.ImagePath@Model.Image" width="100%" style="border-radius:5px;border:1px; solid #bbb"/>
    }
            </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
