@model Babadzaki.ViewModel.TokenVM
@using Babadzaki_Utility
@{
    var title = "Create Token";
}
<form method="post" enctype="multipart/form-data">
    @if ( Model.token.Id!=0)//id не может быть равно null так как это первичный ключ
    {
        title = "Edit Token";
        <input asp-for="token.Id" hidden /> 
        @*Скрытое поле для согласованности с моделью*@
    }
    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>@*TODO: разобраться зачем нужно*@

        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="token.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="token.Name" class="form-control" />
                        <span asp-validation-for="token.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="token.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="token.Price" class="form-control" />
                        <span asp-validation-for="token.Price" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="token.SeasonCollectionId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="token.SeasonCollectionId" asp-items="@Model.seasonCollectionDropDown" class="form-control">
                            <option selected>--Select Collection--</option>
                        </select>
                        <span asp-validation-for="token.SeasonCollectionId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="token.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea  asp-for="token.Description" class="form-control summernote" ></textarea>
                        <span asp-validation-for="token.Description" class="text-danger"></span>
                    </div>

                </div>
@*///////////////////////////////////////////////////////////////////////////////////////////////////////////TODO: Сделать добавление атрибутов через аякс запросы*@
                @foreach (var item in Model.token.TokensFilters)
                {
                     <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="@item.Filter.Name"></label> 
                        </div>
                        <div class="col-8">
                            <input asp-for="@item.Value" class="form-control" />
                            <span asp-validation-for="@item.Value" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-50" value="Delete" />
                        </div>

                    </div>
                }
@*///////////////////////////////////////////////////////////////////////////////////////////////////////////*@
                <div class="form-group row">
                    <div class="col-4">
                        Image
                    </div>
                    <div class="col-8">
                        <input type="file" accept=".jpg,.png,.gif,.bmp"  name="files" id="ImagePath"itemid="uploadBox" asp-for="token.Image" class="form-control" />
                        @if(Model.token.Image!="")
                        {
                            <label for="ImagePath">@Model.token.Image</label>
                        }
                        
                        <span asp-validation-for="token.Image" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        @if(Model.token.Id!=0)
                        {
                            //Update
                                <div class="col">
                                <input type="submit" class="btn btn-info w-100" value="Update" />
                                </div>
                        }
                        else
                        {
                            //Create
                                <div class="col">
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Create" />
                                </div>
                        }
                        
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-4 ">
                @* Keep this empty *@
                @if(Model.token.Image!=null)
                {
                    <img src ="@WebConstants.ImagePath@Model.token.Image" width="100%" style="border-radius:5px;border:1px; solid #bbb"/>
                }
            </div>
        </div>
    </div>

</form>

@section Scripts{

    @{
        <partial name-"_ValidationScriptsPartial"/>/*Валидация на стороне клиента*/
    }
    <script>
        th: utext = $(document).ready(function () { //текстовый редактор TODO: экранировать от html тегов 
                $('.summernote').summernote({
                    height:250
                });
            });

            function validateInput()//проерка на пусой путь к картинке
            {
                if(document.getElementById("uploadBox").value=="") {
                    Swal.fire(
                        'Error!',
                        'Please upload an Image!',
                        'error'
                    )
                    return false;
                }
                return true;
            }
    </script>
}