
@model Babadzaki.ViewModel.GalleryVM
@{
    var isFirstRender = false;
}
<div class="filter-b">
    <div class="cs-height_100 cs-height_lg_70"></div>
      <div class="container_filter">
        <div class="cs-sidebar_frame cs-style1">            
            <div class="cs-sidebar_frame_left">
                <div class="cs-sidebar_frame_right">
                    <div class="cs-filter_head">
                        <div class="cs-filter_head_left">
                            <form action="#" class="cs-search">
                                <input type="number" id="elastic_clothig" class="cs-search_input" placeholder="Search By Id" oninput="applyFilter()">
                            </form>
                        </div>
                    </div>

                    <div class="cs-height_30 cs-height_lg_30"></div>

                    <div class="cs-filter_sidebar">

                          <div class="cs-search_widget">
                            <form action="#" class="cs-search">
                                <input type="text" id="elastic_type" class="cs-search_input" placeholder="Search">
                            </form>
                        </div>
    @if (Model.SeasonCollections.Count() > 0)
{
    @foreach (var obj in Model.SeasonCollections)
    {     
            <!-- End Collection Details -->                                                                                        
                                <div class="cs-filter_widget">
                                    <h2 class="cs-filter_toggle_btn active">
                                    @Html.DisplayNameFor(model=>obj.Id)
                                        <span class="cs-arrow_icon">
                                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.679688 0.96582L4.67969 4.96582L8.67969 0.96582" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </span>
                                    </h2>
                                    <div class="cs-filter_toggle_body">
                                        <ul>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="collection" id="Audioglyphs" checked>
                                                    <label class="form-check-label" for="Audioglyphs">@obj.Name</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> <!-- .cs-filter_widget -->                        
           
    }

}
else
{
    <p> No category exists.</p>
}
                      
@if (Model.Filters.Count() > 0)
{
    @foreach (var filter in Model.Filters)
    {
        <div class="cs-filter_widget">
            <!-- .cs-filter_widget -->
            <h2 class="cs-filter_toggle_btn">
                @filter.Name
                <span class="cs-arrow_icon">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.679688 0.96582L4.67969 4.96582L8.67969 0.96582" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </h2>
            <div class="cs-filter_toggle_body" style="display: none;">
                                        

        @if (filter.TokensFilters.Count() > 0)
        {
            @foreach (var attr in Model.TokensFilters.Where(tf=>tf.FilterId==filter.Id))
            {
                <ul class="elastic_type"> 
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="flexCheckChecked" value = "@attr.Value" data-filter-id=@filter.Id  onclick="applyFilter()"/>
                            <label class="form-check-label" for="flexCheckChecked">@attr.Value</label>
                        </div>
                    </li>

                </ul>
            }
        }
        else
        {
            <p> No attributes exists.</p>
        }
            </div>
        </div>
    }
}
else
{
    <p> No filters exists.</p>
}

</div>
</div>
</div>
@*@if (Model.Filters.Count() > 0)
{
    @foreach (var filter in Model.Filters)
    {
        <div class="text-info h5" >@Html.DisplayFor(modelItem => filter.Name)</div>
        @if (filter.TokensFilters.Count() > 0)
        {
            @foreach (var attr in filter.TokensFilters)
            {
                <div class="text-info pl-3" >@Html.DisplayFor(modelItem => attr.Value)</div>
            }
        }
        else
        {
                <p> No attributes exists.</p>
        }

    }

}
else
{
        <p> No filters exists.</p>
}*@
<div class="cs-sidebar_frame_right">
    <div class="cs-filter_head">
        <div class="cs-filter_head_left">
            <input id = "tokensCount"disabled class="cs-search_result cs-medium cs-ternary_color"value="" ></input>

            <a href="#" class="cs-clear_btn">Clear All</a>
        </div>
        <div class="cs-filter_head_right">
        </div>
    </div>

    <div class="cs-height_30 cs-height_lg_30"></div>
      
   
@*///////////////////////////////////////////*@


        <div id="tokenCardGalleryContainer">
            <div class="tokenCardGallery" ></div>
        @*Content*@
        </div>
         
                        
    

@*//////////////////////////////////////////*@


    <div class="cs-height_10 cs-height_lg_10"></div>
    <div class="text-center">
        <a href="#" class="cs-btn cs-style1 cs-btn_lg"><span>Load More</span></a>
    </div>
</div>
</div>
</div>
</div>

<div class="modal fade popup" id="nftTOKEN" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="header-popup">
                <h5>Connect to a wallet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modalbody" >
                @*Content*@
            </div>
        </div>
    </div>
</div>

@*@if (Model.SeasonCollections.Count() > 0)
{
        

            @foreach (var obj in Model.SeasonCollections)
            {
                        <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">
                    @obj.Name
                        </button>
            }
            
       

        
}
else
{
     <p> No category exists.</p>
}*@




@section Scripts{

    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@

    <!-- Include Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @{
        <partial name-"_ValidationScriptsPartial"/>
        /*Валидация на стороне клиента*/
    }

                <script src="~/js/common.js"></script>
        <script>
            $(document).ready(function () {

                $(".filter-button").click(function () {

                    var value = $(this).attr('data-filter');
                    if (value == "all") {
                        $('.filter').show('1000');
                    }
                    else {
                        $(".filter").not('.' + value).hide('3000');
                        $('.filter').filter('.' + value).show('3000');

                    }
                });

            });
        </script>

}



