@model Babadzaki.Models.Token
@using Babadzaki_Utility
@using Newtonsoft.Json
@*@{
    var tokenJson = new 
}*@
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="cs-card cs-style4 cs-box_shadow cs-white_bg">
        @*JsonConvert.SerializeObject(Model, Formatting.Indented))*@
            
        <img href="#" style="cursor: pointer" class="cs-card_thumb cs-zoom_effect lazy" onclick="openModal({url: '/Gallery/PartialViewAction', data: '@Model.Id'})" 
        data-toggle="modal" data-target="#nftTOKEN" data-src=" @WebConstants.ImagePath@Model.Image" alt="Image">
            <div class="cs-card_info">
                <hr>
                <div class="cs-card_footer">
                    <span class="cs-card_btn_1" data-modal="#history_1">
                        @Model.name
                    </span>
                    <span class="cs-card_btn_2" data-modal="#bid_1"><span>Place Bid</span></span>
                </div>
            </div>
        </div>
        <div class="cs-height_30 cs-height_lg_30"></div>
    </div>

@*////////////////////////////////////////////////*@



<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
@section Scripts{
    <script src="~\js\modal.js"></script>
}


   @* <div class="col-lg-4 col-md-6 pb-4 filter @Model.SeasonCollection.Name.Replace(' ','_')">

        <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@WebConstants.ImagePath@Model.Image" alt="Card image cap">
        <span class="badge p-2 border w-100" style="background-color:lavenderblush">@Model.SeasonCollection.Name</span>
<a asp-controller="TokenManagement" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark form-control btn-sm p-2" style="height:40px">View Details</a>*@