
@model Yukidzaki_Domain.ViewModels.GalleryVM
@using Babadzaki_Services
@{
    var isFirstRender = false;
}
<div class="filter-b">
    <div class="cs-height_100 cs-height_lg_70"></div>
      <div class="container_filter">
        <div class="cs-sidebar_frame cs-style1">            
                <div class="cs-sidebar_frame_left">
                    <div class="cs-filter_head">
                        <div class="cs-filter_head_left">
                        <form action="#" class="cs-search" id="cs-search_by_id">
                                <input type="number" id="elastic_clothig" class="cs-search_input" placeholder="Search By Id" oninput="applyFilter()">
                            </form>
                        </div>
                    </div>

                    <div class="cs-height_30 cs-height_lg_30"></div>

                    <div class="cs-filter_sidebar">

                          <div class="cs-search_widget">
                            <form action="#" class="cs-search" id="cs-search_by_name">
                                <input type="text" id="elastic_type" class="cs-search_input" placeholder="Search">
                            </form>
                        </div>

    @if (Model.SeasonCollections.Count() > 0)
{
    @foreach (var obj in Model.SeasonCollections)
    {     
            <!-- End Collection Details -->                                                                                        
                                <div class="cs-filter_widget">
                                    <h2 class="cs-filter_toggle_btn active">
                                    @Html.DisplayNameFor(model=>obj.Id)
                                        <span class="cs-arrow_icon">
                                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.679688 0.96582L4.67969 4.96582L8.67969 0.96582" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </span>
                                    </h2>
                                    <div class="cs-filter_toggle_body" id="cs-filter_toggle_body_season">
                                        <ul>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="collection" id="Audioglyphs" checked>
                                                    <label class="form-check-label" for="Audioglyphs">@obj.Name</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> <!-- .cs-filter_widget -->                        
           
    }

}
else
{
    <p> No category exists.</p>
}
                      
@if (Model.Filters.Count() > 0)
{
    @foreach (var filter in Model.Filters)
    {
        <div class="cs-filter_widget">
            <!-- .cs-filter_widget -->
            
            
            
            <h2 class="cs-filter_toggle_btn">
                <img src="@WebConstants.IconsPath@($"{filter.Name}.png")">
                @filter.Name
                <span class="cs-arrow_icon">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.679688 0.96582L4.67969 4.96582L8.67969 0.96582" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </h2>
            <div class="cs-filter_toggle_body" style="display: none;">
                                        

        @if (Model.TokensFilters.FirstOrDefault(tf=>tf.Filter.Name==filter.Name)!=null)
        {
            @foreach (var attr in Model.TokensFilters.Where(tf=>tf.Filter.Name==filter.Name))
            {
                <ul class="elastic_type"> 
                    <li>
                        <div class="form-check">                                                       
                            <input class="form-check-input" type="checkbox" id="@attr.Value" value = "@attr.Value" data-filter-id=@filter.Id  onclick="applyFilter()"/>
                            <label class="form-check-label" for="@attr.Value">@attr.Value</label>
                            <label class="form-check-counts" for="attr.Value">@Model.TokensWithAttributeCount[attr.Id]</label>
                        </div>
                    </li>

                </ul>
            }
        }
        else
        {
            <p> No attributes exists.</p>
        }
            </div>
        </div>
    }
}
else
{
    <p> No filters exists.</p>
}

</div>
</div>
</div>
@*@if (Model.Filters.Count() > 0)
{
    @foreach (var filter in Model.Filters)
    {
        <div class="text-info h5" >@Html.DisplayFor(modelItem => filter.Name)</div>
        @if (filter.TokensFilters.Count() > 0)
        {
            @foreach (var attr in filter.TokensFilters)
            {
                <div class="text-info pl-3" >@Html.DisplayFor(modelItem => attr.Value)</div>
            }
        }
        else
        {
                <p> No attributes exists.</p>
        }

    }

}
else
{
        <p> No filters exists.</p>
}*@
<div class="cs-sidebar_frame_right">
    <div class="cs-filter_head">
        <div class="cs-filter_head_left">
            <input id = "tokensCount"disabled class="cs-search_result cs-medium cs-ternary_color" value="HUI" />
                    <div class="cs-card cs-style4 ">
                    <span class="cs-card_btn_2" data-modal="#bid_1" onclick="ClearAll()"><span>Clear All</span></span>
                    @*<button class="cs-clear_btn" onclick="ClearAll()">Clear All</button>*@
                    </div>
                    <div class="print-values">
            <p id="valueList"></p>
            </div> 

        </div>
        <div class="cs-filter_head_right">
        </div>
    </div>

    <div class="cs-height_30 cs-height_lg_30"></div>
      
   
@*///////////////////////////////////////////*@


        <div id="tokenCardGalleryContainer">
            <div class="tokenCardGallery" ></div>
        @*Content*@
        </div>
         
                        
    

@*//////////////////////////////////////////*@
</div>
</div>
</div>


<div class="modal fade popup" id="nftTOKEN" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="nftTOKENnow" role="document">
       

                    <div class="modalbody">
                        @*Content*@
                    </div>
                    </div>



    </div>





@section Scripts{


    @{
        <partial name-"_ValidationScriptsPartial"/>
        /*Валидация на стороне клиента*/
    }
   
                <script src="~/js/common.js"></script>
                <script src="~/js/paging.js"></script>

        <script>
            $(document).ready(function () {

                $(".filter-button").click(function () {

                    var value = $(this).attr('data-filter');
                    if (value == "all") {
                        $('.filter').show('1000');
                    }
                    else {
                        $(".filter").not('.' + value).hide('3000');
                        $('.filter').filter('.' + value).show('3000');

                    }
                });

            });
        </script>
}



